extends layout

block content
   form(name='matchdetails',id="matchdetails", action='/admin', method='post')
      fieldset#adminscoreboard
       select#ploeg1(name='ploeg1')
         option(value=overzicht.land1)= overzicht.land1
         option(value='Argentina') Argentina
         option(value='Belgium') Belgium
         option(value='Brazil') Brazil
         option(value='Cameroon') Cameroon
         option(value='Colombia') Colombia
         option(value='Cotedivoire') Cote d'ivoire
         option(value='England') England
         option(value='France') France
         option(value='Germany') Germany
         option(value='Greece') Greece
         option(value='Italy') Italy
         option(value='Japan') Japan
         option(value='Netherlands') Netherlands
         option(value='Nigeria') Nigeria
         option(value='Russia') Russia
         option(value='Usa') United States
       input#scoreploeg1(type='text' name='scoreploeg1' value= overzicht.land1score)
       label#dash -
       input#scoreploeg2(type='text' name='scoreploeg2' value= overzicht.land2score)
       select#ploeg2(name="ploeg2")
         option(value=overzicht.land2)= overzicht.land2
         option(value='Argentina') Argentina
         option(value='Belgium') Belgium
         option(value='Brazil') Brazil
         option(value='Cameroon') Cameroon
         option(value='Colombia') Colombia
         option(value='Cotedivoire') Cote d'ivoire
         option(value='England') England
         option(value='France') France
         option(value='Germany') Germany
         option(value='Greece') Greece
         option(value='Italy') Italy
         option(value='Japan') Japan
         option(value='Netherlands') Netherlands
         option(value='Nigeria') Nigeria
         option(value='Russia') Russia
         option(value='Usa') United States
      fieldset#detailsploeg1
        label(for='foulsploeg1' class='detailsploeg1') Fouls
        input#foulsploeg1(type='text' class='detailsploeg1' name='foulsploeg1' value= overzicht.land1fouls)
        label(for='shotsploeg1' class='detailsploeg1') Shots
        input#shotsploeg1(type='text' class='detailsploeg1' name='shotsploeg1' value= overzicht.land1shots)
        label(for='shotsongoalploeg1' class='detailsploeg1') Shots on goal
        input#shotsongoalploeg1(type='text' class='detailsploeg1' name='shotsongoalploeg1' value= overzicht.land1shotsongoal)
        label(for='passpercentploeg1' class='detailsploeg1') Pass %
        input#passpercentploeg1(type='text' class='detailsploeg1' name='passpercentploeg1' value= overzicht.land1pass)
        label(for='posessionploeg1' class='detailsploeg1') Posession %
        input#posessionploeg1(type='text' class='detailsploeg1' name='posessionploeg1' value= overzicht.land1posession)
        label(for='yellowcardploeg1' class='detailsploeg1') Yellow cards
        input#yellowcardploeg1(type='text' class='detailsploeg1' name='yellowcardploeg1' value= overzicht.land1yellow)
        label(for='redcardploeg1' class='detailsploeg1') Red cards
        input#redcardploeg1(type='text' class='detailsploeg1' name='redcardploeg1' value= overzicht.land1red)
      fieldset#detailsploeg2
        label(for='foulsploeg2' class='detailsploeg2') Fouls
        input#foulsploeg2(type='text' class='detailsploeg2' name='foulsploeg2' value= overzicht.land2fouls)
        label(for='shotsploeg2' class='detailsploeg1') Shots
        input#shotsploeg2(type='text' class='detailsploeg2' name='shotsploeg2' value= overzicht.land2shots)
        label(for='shotsongoalploeg2' class='detailsploeg2') Shots on goal
        input#shotsongoalploeg2(type='text' class='detailsploeg2' name='shotsongoalploeg2' value= overzicht.land2shotsongoal)
        label(for='passpercentploeg2' class='detailsploeg2') Pass %
        input#passpercentploeg2(type='text' class='detailsploeg2' name='passpercentploeg2' value= overzicht.land2pass)
        label(for='posessionploeg2' class='detailsploeg2') Posession %
        input#posessionploeg2(type='text' class='detailsploeg2' name='posessionploeg2' value= overzicht.land2posession)
        label(for='yellowcardploeg2' class='detailsploeg2') Yellow cards
        input#yellowcardploeg2(type='text' class='detailsploeg2' name='yellowcardploeg2' value= overzicht.land2yellow)
        label(for='redcardploeg2' class='detailsploeg2') Red cards
        input#redcardploeg2(type='text' class='detailsploeg2' name='redcardploeg2' value= overzicht.land2red)
      input#submitdetails(class="submitbutton" type='submit', value='Save changes')
    form#leegmaken(name="leegmaken" action='/leegmaken', method='post')
     input#emptybutton(class="submitbutton" type='submit', value='Reset match records')
    form#updates(name="updates" action='/update', method='post')
      select#type(name='type')
        option(value='goal' class='updateoption') Goal
        option(value='foul' class='updateoption') Foul
        option(value='yellow' class='updateoption') Yellow card
        option(value='red' class='updateoption') Red card
        option(value='swap' class='updateoption') Swap
      input#speler(type='text', placeholder='Speler' name='speler')
      input#minuut(type='text', placeholder='Minuut' name='minuut')
      input#updatebutton(class="submitbutton" type='submit', value='Post Update')
    
 

    script.
      var client = new Faye.Client('/faye',{
       timeout: 200
      });

      $('#matchdetails').submit(function() {
       client.publish('/gegevens', {
        ploeg1: $('#ploeg1').val(),
        scoreploeg1: $('#scoreploeg1').val(),
        foulsploeg1: $('#foulsploeg1').val(),
        shotsploeg1: $('#shotsploeg1').val(),
        shotsongoalploeg1: $('#shotsongoalploeg1').val(),
        passpercentploeg1: $('#passpercentploeg1').val(),
        posessionploeg1: $('#posessionploeg1').val(),
        yellowcardploeg1: $('#yellowcardploeg1').val(),
        redcardploeg1: $('#redcardploeg1').val(),
        ploeg2: $('#ploeg2').val(),
        scoreploeg2: $('#scoreploeg2').val(),
        foulsploeg2: $('#foulsploeg2').val(),
        shotsploeg2: $('#shotsploeg2').val(),
        shotsongoalploeg2: $('#shotsongoalploeg2').val(),
        passpercentploeg2: $('#passpercentploeg2').val(),
        posessionploeg2: $('#posessionploeg2').val(),
        yellowcardploeg2: $('#yellowcardploeg2').val(),
        redcardploeg2: $('#redcardploeg2').val()
       });
      });
      $('#leegmaken').submit(function() {
       client.publish('/gegevens', {
        ploeg1: $('#ploeg1').val(),
        scoreploeg1: $('#scoreploeg1').val(),
        foulsploeg1: $('#foulsploeg1').val(),
        shotsploeg1: $('#shotsploeg1').val(),
        shotsongoalploeg1: $('#shotsongoalploeg1').val(),
        passpercentploeg1: $('#passpercentploeg1').val(),
        posessionploeg1: $('#posessionploeg1').val(),
        yellowcardploeg1: $('#yellowcardploeg1').val(),
        redcardploeg1: $('#redcardploeg1').val(),
        ploeg2: $('#ploeg2').val(),
        scoreploeg2: $('#scoreploeg2').val(),
        foulsploeg2: $('#foulsploeg2').val(),
        shotsploeg2: $('#shotsploeg2').val(),
        shotsongoalploeg2: $('#shotsongoalploeg2').val(),
        passpercentploeg2: $('#passpercentploeg2').val(),
        posessionploeg2: $('#posessionploeg2').val(),
        yellowcardploeg2: $('#yellowcardploeg2').val(),
        redcardploeg2: $('#redcardploeg2').val(),
        emptyall: "yes"
       });
      });
      $('#updates').submit(function() {
       client.publish('/updates', {
        type: $('#type').val(),
        speler: $('#speler').val(),
        min: $('#minuut').val()
       });
       });


