extends layout

block content
  -if(succes)
   div(class="succes")
    p= succes
    a(href="/admin")= "Ga verder"
  -else
   div#welkom
    h1 Welkom bij de WKApp
    p Hier kan je de tussenstand, doelpunten en nog veel meer live volgen!
    img(src="images/banner.jpg")
    a(href="/scoreboard") Ga verder naar het scorebord