/*variabelen*/
/*colors*/
$succesgreen : rgba(164,219,110,0.55);
$errorRed : rgba(250,56,56,0.65);
$wklightblue : #DBFFFC;
$wkdarkblue : #106282;
$backgroundblue : rgba(219, 255, 252, 0.4);
$backgroundgrey : rgba(77, 77, 77, 0.5);
$headercolor : rgba(217,217,217, 0.5);
$fgwhite : rgba(240,240,240, 0.4);
$bgwhite : rgba(240,240,240, 0.7);

/*daults*/

/*
	Command to watch Sass -> make sure you are in the scss folder before executing the command

	sass --watch style.scss:../style.css

*/