/*variabelen*/
/*
	Command to watch Sass -> make sure you are in the scss folder before executing the command

	sass --watch style.scss:../style.css

*/
#wrapper {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6fab92;
  margin-top: 5px;
  padding: 50px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  border: 2px solid #428569; }

body {
  background-color: #a9eed1;
  color: #F0F0F0; }

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  width: 25%;
  display: inline-block;
  background-color: #a9eed1;
  border: 2px solid #428569;
  text-align: center;
  color: #000;
  text-decoration: none; }

nav a:hover {
  color: #696969; }

form,
form input {
  text-align: center; }

#ploeg1,
#ploeg2,
#scoreploeg1,
#scoreploeg2 {
  width: 200px;
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px; }

#dash {
  width: 5%;
  text-align: center;
  display: inline-block; }

#ploeg1,
#scoreploeg2 {
  margin-right: 5%; }

#scoreploeg1 {
  margin-right: 2,5%; }

#scoreploeg2 {
  margin-left: 2,5%; }

#ploeg2 {
  margin-right: 0%; }

#detailsploeg1,
#detailsploeg2 {
  display: block;
  width: 310px; }

#detailsploeg1 {
  float: left; }

#detailsploeg2 {
  float: right; }

input.detailsploeg1,
input.detailsploeg2,
.ploegdetails {
  width: 50px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block; }

label.detailsploeg1,
label.detailsploeg2,
.titels {
  width: 200px;
  display: inline-block; }

#submitdetails {
  float: right;
  margin-top: 50px; }

#updates {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 150px; }

#scoreboardploeg1,
#scoreboardploeg2,
#scoreboard {
  width: 33%;
  display: inline-block;
  text-align: center; }
  #scoreboardploeg1 img,
  #scoreboardploeg2 img,
  #scoreboard img {
    width: 150px; }

#scoreboardploeg1,
#scoreboardploeg2 {
  margin-top: 20px; }

#scoreboard {
  margin-top: -15px; }
  #scoreboard p {
    width: 33%;
    display: inline-block;
    height: 150px; }
  #scoreboard p.points {
    font-size: 50px; }

.error {
  background-color: #ff1c4d;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #bf1338; }

.succes {
  background-color: #a9eed1;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid #6fab92; }
