doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   div(id='wrapper')
    div#logo
     a(href="/")
      img(src='images/imd.png', alt="logo")
    nav
     a(href="/newuser")= "Register"
     a(href="/scoreboard")= "Scoreboard"
     a(href="/admin")= "Admin-pagina"
     block content