doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/faye/browser/faye-browser.js')
    script(src='/faye/client.js')

  body
   
   div#header
    div#logo
     a(href="/")
      img(src='images/imd.png', alt="logo")
    nav
     a(href="/scoreboard")= "Scoreboard"
     a(href="/admin")= "Admin-pagina"
   div(id='wrapper')
    block content